.container {
  width: 100%;
  height: 500px;
  background-color: yellow;
}
.flex{
    display: flex;
    padding: 10px;
}
.f_nav{
  font-size: 50px;
}
.f_left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_right{
  width:60%;
}
.f_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsIcon{
  padding:50px;
  margin: 20px;
}
.footer{
  height: 50px;
  width: 100%;
  background-color: black;   
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    color: white;
  }
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 900px) {
.container {
  width: 100%;
  height: 400px;
  background-color: yellow;
}
.flex{
    display: flex;
    padding: 10px;
}
.f_nav{
  font-size: 30px;
}
.f_left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_right{
  width:60%;
}
.f_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsIcon{
  padding:30px;
  margin: 20px;
}
.footer{
  height: 50px;
  width: 100%;
  background-color: black;   
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    color: white;
  }
}
}

@media only screen and (max-width: 600px) {
.container {
  width: 100%;
  height: 300px;
  background-color: yellow;
}
.flex{
    display: flex;
    padding: 10px;
}
.f_nav{
  font-size: 25px;
}
.f_left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_right{
  width:60%;
}
.f_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsIcon{
  padding:20px;
  margin: 5px;
}
.footer{
  height: 50px;
  width: 100%;
  background-color: black;   
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    color: white;
  }
}
}

@media only screen and (max-width: 475px) {
.container {
  width: 100%;
  height: 200px;
  background-color: yellow;
}
.flex{
    display: flex;
    padding: 10px;
}
.f_nav{
  font-size: 18px;
}
.f_left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_right{
  width:60%;
}
.f_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsIcon{
  padding:10px;
  margin: 2px;
}
.footer{
  height: 50px;
  font-size: 12px;
  width: 100%;
  background-color: black;   
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    color: white;
  }
}
}



